.calc-button {
  background: #e2e2e2;
  color: #444444;
  width: 25vw;
  height: 25vw;
  font-size: 9vw;
  margin: 0.9vw;
  border: none;
  border-radius: 3vw;
  cursor: pointer;
  font-family: "Oswald", "IBM Plex Sans JP", sans-serif;
}
