html,
body,
div {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", "IBM Plex Sans JP", sans-serif;
}

body {
  position: relative;
  background: #efefef;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
