.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 25vw;
  background: #ffffff;
  color: #222222;
  padding-bottom: 5vw;
}

.result-content {
  display: flex;
  align-items: baseline;
  justify-content: center;
}


.label {
  color: #777777;
  font-size: 3.5vw;
  font-weight: 400;
  margin-right: 3.1vw;
}

.amount {
  font-size: 10.7vw;
}

.unit {
  font-size: 4.2vw;
  margin-left: 2vw;
}
